{% extends 'user_tracking/base.html' %}
{% load static %}
{% block content %}
      <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

          <div dir="rtl" class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>{{logins_count}}</h3>
                  <p>کاربر لاگین کرده</p>
                </div>
                <div class="icon">
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                </div>
                <a href="{% url 'user_tracking:users_logged' %}" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>{{Registrants_count}}</h3>
                  <p>کاربر ثبت نام کرده</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="{% url 'user_tracking:users_registered' %}" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-6 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>{{visitors_count}}</h3>
                  <p>بازدید کنندگان</p>
                </div>
                <div class="icon">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </div>
                <a href="{% url 'user_tracking:visitors' %}" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
              </div>
            </div><!-- ./col -->
          </div><!-- /.row -->

          <div class="row">
            <div class="col-xs-12">

              <div class="box">
                <div class="box-header">
                  <h3 style="text-align: right;">اطلاعات بازدید کنندگان</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>آدرس صفحه</th>
                        <th>کاربر</th>
                        <th>تاریخ</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in objects %}
                      <tr>
                        <td>{{i.url}}</td>
                        <td>{% if i.user %}{{i.user}}{% else %}نامشخص{% endif %}</td>
                        <td>{{i.date}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>آدرس صفحه</th>
                        <th>کاربر</th>
                        <th>تاریخ</th>
                      </tr>
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->


              <!-- Chart -->
              <div>
                <canvas id="myChart" width="800" height="400"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                      labels : [{% for item in visitors_labels %}"{{ item }}",{% endfor %}, ],
                        datasets: [{
                          label: "تعداد بازدید کنندگان",
                          data : [{% for item in visitors_values %}{{ item }},{% endfor %}],
                          backgroundColor: 'rgba(75, 192, 192, 0.2)',
                          borderColor: 'rgba(75, 192, 192, 1)',
                          borderWidth: 1
                        },{
                          label: "تعداد لاگین کنندگان",
                          data : [{% for item in logins_values %}{{ item }},{% endfor %}],
                          backgroundColor: 'rgba(147, 119, 138, 0.6)',
                          borderColor: 'rgba(147, 119, 138, 0.5)',
                          borderWidth: 2
                        },{
                          label: "تعداد ثبت نام کنندگان",
                          data : [{% for item in Registrants_values %}{{ item }},{% endfor %}],
                          backgroundColor: 'rgba(66, 135, 27, 0.6)',
                          borderColor: 'rgba(66, 135, 27, 0.5)',
                          borderWidth: 1
                        },]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
                </script>
              </div> 
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
{% endblock %}

{% block title %}AdminLTE 2 | Dashboard{% endblock %}

{% block css %}
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link rel="stylesheet" href="{% static 'user_tracking/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'user_tracking/plugins/datatables/dataTables.bootstrap.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'user_tracking/dist/css/AdminLTE.min.css' %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{% static 'user_tracking/dist/css/skins/_all-skins.min.css' %}">
{% endblock %}

{% block script %}

    <!-- jQuery 2.1.4 -->
    <script src="{% static 'user_tracking/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <!-- Bootstrap 3.3.4 -->
    <script src="{% static 'user_tracking/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- DataTables -->
    <script src="{% static 'user_tracking/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'user_tracking/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    <!-- SlimScroll -->
    <script src="{% static 'user_tracking/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'user_tracking/plugins/fastclick/fastclick.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'user_tracking/dist/js/app.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'user_tracking/dist/js/demo.js' %}"></script>
    <!-- page script -->
    <script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>
{% endblock %}