{% extends 'user_tracking/base.html' %}
{% load static %}
{% block content %}
      <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

          <div class="row">
            <div class="col-xs-12">
              
              <div class="box">
                <div style="margin-left: 10px; margin-top: 10px;">
                  <div class="row">
                    <div class="col-xs-2">
                      <label>Start date</label>
                      <input type="date" id="start_date" class="form-control" onchange="FilterObjects();">
                    </div>
                    <div class="col-xs-2">
                      <label>End date</label>
                      <input type="date" id="end_date" class="form-control" onchange="FilterObjects();">
                    </div>
                  </div>
                </div>

                <div id="information">

                  <div class="box-header">
                    <h3 style="text-align: right;">کاربران لاگین کرده</h3>
                    <h5 style="text-align: right;">تعداد: {{objects.count}}</h3>
                  </div><!-- /.box-header -->

                  <div class="box-body">
                    
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Full name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Date last login</th>
                            <th>Date joined</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in objects %}
                          <tr>
                            <td>{{i.get_full_name}}</td>
                            <td>{{i.username}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.last_login}}</td>
                            <td>{{i.date_joined}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>Full name</th>
                            <th>Username</th>
                            <th>Date last login</th>
                            <th>Date joined</th>
                          </tr>
                        </tfoot>
                      </table>
                    
                  </div><!-- /.box-body -->


                  {% include 'user_tracking/chart.html' %}
                  
                </div>
              </div><!-- /.box -->
              
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
{% endblock %}

{% block title %}AdminLTE 2 | Dashboard{% endblock %}

{% block css %}
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link rel="stylesheet" href="{% static 'user_tracking/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'user_tracking/plugins/datatables/dataTables.bootstrap.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'user_tracking/dist/css/AdminLTE.min.css' %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{% static 'user_tracking/dist/css/skins/_all-skins.min.css' %}">
{% endblock %}

{% block script %}

    <!-- jQuery 2.1.4 -->
    <script src="{% static 'user_tracking/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <!-- Bootstrap 3.3.4 -->
    <script src="{% static 'user_tracking/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- DataTables -->
    <script src="{% static 'user_tracking/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'user_tracking/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    <!-- SlimScroll -->
    <script src="{% static 'user_tracking/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'user_tracking/plugins/fastclick/fastclick.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'user_tracking/dist/js/app.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'user_tracking/dist/js/demo.js' %}"></script>
    <!-- page script -->
    <script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>


  <script>
    document.getElementById('end_date').valueAsDate = new Date();
    function FilterObjects(){
        var start_date = document.getElementById("start_date").value;
        var end_date = document.getElementById("end_date").value;
        // alert(start_date);
         $.ajax({
                    type: 'POST',
                    url: "{% url 'user_tracking:users_logged_filter' %}",
                    data: {
                        'start_date': start_date,
                        'end_date': end_date,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(data){
                      $('#information').html(data)
                    },
                    error: function (request, errors) {
                    alert(errors.responseText);
                    }
                })
    }    
  </script>
{% endblock %}